*.cmi
*.cmx
*.cmo
*.cmt
*.cmti
*.exe
*.log
*.prof.ml
/infsat
/infsat-g
/infsat-debug
/infsat-prof-debug
/parencol
*.out
*.callgrind
*.cpuprofile
ocamlprof.dump
ocamlprof.bak
top
test
oUnit-*
infSatParser.ml
infSatParser.mli
infSatLexer.ml
TAGS
*~
*.o
doc/
coverage/
